body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.form {
    margin: 20px auto;
    width: 300px;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

button {
    background: black;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}